.profileContainer {
    display: flex;
}

.profileContainer .photo img {
    border-radius: 20px;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.profileContainer .info {
    margin: 0 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileContainer .info > div {
    margin: 2px 0;
}